*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section p{
    border: 2px solid blueviolet;
    padding: 2rem;
    margin: 2rem;

}

section div{
    border: 2px solid red;
    margin: 2rem;
    display: flex;
}